.navbar{
	font-family: Arvo, Lato, sans-serif;
}
.heading {
    text-align: center;
    font-family: Roboto, Wingdings;
    font-size: 4em;
    text-shadow: 2px 2px 2px grey;
}
h2 {
	color: rgb(214, 0, 0);
	text-shadow: 2px 2px rgb(253,236,57);
	font-family: Reem Kufi, Imprint MT Shadow, Bell MT, 'Lato', Serif;
}

.ebox {
	border-style: inset;
}
.ebox p, h2{
	margin-left: 100px;
}
.ebox p{
	font-family: Lato;
	font-size: 120%;
}
.ebox:hover{
	background-color: rgba(200, 200, 200, 0.55);
}
.ebPosition {
	text-decoration: underline;
}
td img{
	margin-left: 10px;
}