.navbar{
	font-family: Arvo, Lato, sans-serif;
}
.heading {
    text-align: center;
    font-family: Roboto, Wingdings;
    font-size: 3em;
    text-shadow: 2px 2px 2px grey;
}
h2 {
	color: rgb(214, 0, 0);
	text-shadow: 2px 2px rgb(253,236,57);
	font-family: Reem Kufi, Imprint MT Shadow, Bell MT, 'Lato', Serif;
}

div.edescription {
	text-align: left;
	padding: 35px;
	line-height: 1.0cm;
}
.ebox:hover{
	background-color: rgba(200, 200, 200, 0.55);
}