body {
    font-family: Arvo, 'Times New Roman', Times, serif;
}
.navbar{
	font-family: Arvo, Lato, sans-serif;
}
.heading {
    text-align: center;
    font-family: Roboto, Wingdings;
    font-size: 3em;
    text-shadow: 2px 2px 2px grey;
}
a {
    color: rgb(2, 179, 31);
}
.ctitle{
    color: gray;
    text-align: center;
}
.card-img-top{
    size: 80%;
}
.card{
    box-shadow: 2px 4px 5px grey;
}
.card-body{
    text-align: center;
}
/*-----------------------------------------------------*/
/*about.html exclusive code*/
/*-----------------------------------------------------*/
.abimage{
    border-radius: 15px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}
.abquote{
    text-align: center;
    color: rgb(94, 94, 94);
}
.about-text{
    text-align: left;
    line-height: 1cm;
    text-indent:40px;
}
/*-----------------------------------------------------*/
/*announcements.html exclusive code*/
/*-----------------------------------------------------*/
div .announcement:hover{
   background-color: rgba(200, 200, 200, 0.55);
}
.entrytitle{
    text-align: center;
    text-decoration: underline;
    font-family: Roboto;
}
div div.announcement .entry{
    font-family: Lato;
    text-align: left;
    line-height: 1cm;
}
.annimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    max-width: 100%;
    height: auto;
}
footer{
    font-family: 'Roboto', sans-serif;
}