body {
    font-family: Arvo, 'Times New Roman', Times, serif;
}

.heading {
    text-align: center;
    font-family: Roboto, Wingdings;
    font-size: 90px;
    text-shadow: 2px 2px 2px grey;
}

.heading:hover:after{
    content: 'RPI\'s African Student Association';
    font-size: 60px;
    visibility: visible;
    color: rgb(0,207,33);
}
.pushdown{
    
}
.pushup{
    
}
a {
    color: rgb(0,207,33);
}
.card-title{
    color: rgb(255,57,57);
}
.card-img-top{
    display: flex;
}